<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
  -->
  <targets>
    <!-- Using the colored console as my target-->
  <target name="async_console" xsi:type="AsyncWrapper">
    <target xsi:type="ColoredConsole" name="colored_console"/>
  </target>
  <target name="file" xsi:type="File" fileName="${basedir}/logs/wise-${shortdate}.log" keepFileOpen="false"/>
  <target name="async" xsi:type="AsyncWrapper">
    <target name ="target1" xsi:type="File" fileName="${basedir}/logs/wise-${shortdate}.log"  keepFileOpen="true" />
  </target>
  </targets>

  <rules>
    <!-- Writing everything to the cololred console -->
    <!--logger name="*" minlevel="Info" writeTo="colored_console"/-->
    <logger name="*" minlevel="Trace" writeTo="async"/>
    <logger name="*" minlevel="Trace" writeTo="async_console"/>
  </rules>
</nlog>
